<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Vue.js</title>
</head>

<body>
    <header>
        <h1>Vue.js</h1>
        <p>Personnalisez cette page !</p>
    </header>
    <img src="medias/vueJSlogo.png" alt="" id="logoVue">
    
    <h2>Exercice 1</h2>
    <div class="globalFlex">
        <section class="exercice1">
            <div id="ex1">
                <p>AFFICHER UNE IMAGE ICI.</p>
            </div>
            <div id="ex2">
                <p>test1</p>
            </div>
            <div id="ex3">
                <p>test2</p>
            </div>
            <div id="ex4">
                <p>test3</p>
            </div>
            <button class="boutonReponse" id="rep1">Réponse</button>
            <p class="answer" id="ans1">{{answer}}</p>
        </section>
    </div>

    <h2>Exercice 2</h2>

    <section class="exercice2 globalFlex">
        <p>Afficher le nom des "produits" dans la liste suivante</p>
        <ul>
            <li v-for="product in products">
                {{product}}
            </li>
        </ul>
        <p>Afficher la quantité de "produits" dans la liste suivante</p>
        <ul>
            <li v-for="product in products ">
                {{quantite[0]}}
            </li>
        </ul>
        <p>Afficher les "produits" seulement si il y'en a</p>
        <ul>
            <li v-if=""></li>
        </ul>

        <script>
            const app = new Vue({
                el: '.exercice2',
                data: {
                    products: [
                        'Sweats',
                        'T-shirts',
                        'Chaussures'
                    ],
                    quantite: [
                        '8',
                        '0',
                        '34'
                    ]

                }
            })
        </script>
    </section>

    <h2>Exercice 3</h2>

    <section class="exercice3">
        <p>Afficher le nombre de fois que le bouton a été cliqué</p>
        <div id="ex3content">
            <button v-on:click="counter += 1">Ajouter</button>
            <p>Le bouton a été cliqué {} fois !</p>
        </div>
        <script>
            var ex3content = new Vue({
                el: '#ex3content',
                data: {
                    counter: 0
                }
            })
        </script>
    </section>


<script src="scripts/handleButtons.js"></script>
</body>

</html>